
@{
    ViewData["Title"] = "Mountain";
}

<script src="~/js/app.js"></script>

<h1>Mountain</h1>

<button onclick="mountains()">Test Drive</button>

<button onclick="Products()">Test Drive</button>

<button onclick="Inventory()">Test Drive</button>

