
@{
    ViewData["Title"] = "Mountain";
}

<script src="~/js/app.js"></script>

<h1>Mountain</h1>

<button onclick="mountains()">Mountains</button>

<button onclick="Products()">Products</button>

<button onclick="Inventory()">Inventory</button>

